<body>
  <div class="container">
      <header>
          <h1>Ilias Mirzoiev</h1>
          <p>Email: iliasmirzoiev9&#64;gmail.com | Phone: +380 98 125 36 43</p>
          <div class="social-links">
              <a href="{{ socialLinks.linkedin }}" target="_blank">LinkedIn</a>
              <a href="{{ socialLinks.github }}" target="_blank">GitHub</a>
          </div>
      </header>

        <section>
            <div class="section-title">Professional Experience</div>
            <div>
                <p class="job-title">iOS Developer</p>
                <p>Triare, Cherkasy | November 2021 - Present</p>
                <ul>
                    <li>Development and support of iOS applications</li>
                </ul>
            </div>
        </section>

        <section>
            <div class="section-title">About Me</div>
            <p>
                Meticulous iOS developer with 2+ years of experience and passion for the developing process. Reliable and self 
                motivated personality with constant desire to grow and develop.  I worked with applications for realty, social 
                and education. I am a fast learner, eager to learn and share knowledge among co-workers. I work on each project 
                with dedication and creativity.
            </p>
        </section>
    
        <section>
            <div class="section-title">Education</div>
            <p>Cherkasy State Technological University | Software Engineering | 2021 - Present</p>
        </section>

      <section>
          <div class="section-title">Skills</div>
          <ul>
              <li>CI-CD</li>
              <li>Core Data</li>
              <li>OOP</li>
              <li>App Store</li>
              <li>SDKs</li>
              <li>Git</li>
              <li>GitFlow</li>
              <li>Multithreading</li>
              <li>UI-Responsivnes</li>
              <li>Core Animation</li>
              <li>Agile Environment</li>
              <li>CocoaPods</li>
              <li>SPM</li>
              <li>Firebase</li>
          </ul>
      </section>

      <section>
          <div class="section-title">Languages</div>
          <p>Ukrainian - Native</p>
          <p>English - Advanced</p>
      </section>
      
      <section>
        <div class="section-title">My projects</div>
        <ul>
            <li>Damage reporting</li>
            <li>YomiSmile</li>
            <li><a href="https://apps.apple.com/ru/app/h%C3%A6str/id6447194427">HAESTR</a></li>
        </ul>
    </section>
  </div>
</body>

<router-outlet></router-outlet>
